<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
    
    <link rel="stylesheet" href="/www/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/www/css/app.css">
    <link rel="stylesheet" href="/www/css/style.css">

    <script src="/www/js/jquery.js"></script>
    <script src="/www/js/jquery.dataTables.min.js"></script>
    <script src="/www/js/popper.min.js"></script>
    <script src="/www/js/bootstrap.min.js"></script>

    <script src="/www/js/moment.min.js"></script>
    <script src="/www/js/sweetalert.min.js"></script>

    <script src="/www/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background: #ddd;
        }
        #footer {
            background-color: #444;
            color: white;
            text-align: center;
            padding: 4px;
        }
        aside {
            background-color: #888;
        }

        .principal {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
        }
        .secundario {
            font-weight: 100;
        }
        .span {
            color: #888;
        }
    </style>
</head>

<body>

    <header>

    </header>

    <nav class="nav-top" id="navtop">
        <a class="nav-a" href="views/">Home</a>
        <a class="nav-a" href="#">News</a>
        <a class="nav-a" href="#">Contact</a>
        <a class="nav-a" href="#">About</a>
        <a href="javascript:void(0);" class="nav-icon" onclick="Btn_Top_Nav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>

    <div class="container-fluid">
        
        <div class="row">

            <section class="col-8">
                <br>

                <div class="row">

                    <div class="col-9">
                        <section>
                            <h1 class="h1" style="font-family: 'Merriweather', serif;"> Cristian Polo Niquin </h1>
                            <strong> Bachiller en Ciencias de la Computación, </strong> <span style="font-style: italic"> Candidato a Titulación en Ingeniería Informática </span>
                        </section>
                    </div>
        
                    <div class="col-3">
                        <section>
                            <label for="" style="font-family: 'Merriweather', serif;"> Trujillo, La Libertad </label>
                            <h6> (+51) 952490241 </h6>
                            <h6> cd.niquin@gmail.com </h6>
                        </section>
                    </div>
        
                </div>
        
                <br><br>

                <div class="row">        
                    <div class="col-12">
                        <h6 class="h6 text-info"> EXPERIENCIA LABORAL Y ACADEMICA </h6>
                        <section class="mt-4">
                            <h6 class="principal"> NTT Data (Everis), <span class="secundario"> Trujillo, Peru - Automation Tester </span></h6>
                            <label class="span"> Agosto 2021 - Actualidad </label>
                            <p>

                            </p>
                        </section>
                        <section class="mt-4">
                            <h6> NTT Data (Everis), <span> Trujillo, Peru - Automation Tester </span></h6>
                            <label> Agosto 2021 - Actualidad </label>
                            <p>

                            </p>
                        </section>
                    </div>
                </div>

            </section>

            <aside class="col-4">

                <br>

                <div class="row">
                    <div class="col-12">
                        <div class="card btn-twitter">
                            <div class="card-header">
                                <h5> Featured </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p> 
                                            With supporting text below as a natural 
                                            lead-in to additional content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
                
                <br>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card btn-vimeo">
                            <div class="card-header">
                                <h5> Featured </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p> 
                                            With supporting text below as a natural 
                                            lead-in to additional content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <br>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card btn-linkedin">
                            <div class="card-header">
                                <h5> Featured </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p> 
                                            With supporting text below as a natural 
                                            lead-in to additional content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <br>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card btn-bitbucket">
                            <div class="card-header">
                                <h5> Featured </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p> 
                                            With supporting text below as a natural 
                                            lead-in to additional content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                
                <br>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card btn-instagram">
                            <div class="card-header">
                                <h5> Featured </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p> 
                                            With supporting text below as a natural 
                                            lead-in to additional content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <br>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card btn-tumblr">
                            <div class="card-header">
                                <h5> Featured </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p> 
                                            With supporting text below as a natural 
                                            lead-in to additional content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <br>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card btn-github">
                            <div class="card-header">
                                <h5> Featured </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p> 
                                            With supporting text below as a natural 
                                            lead-in to additional content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <br>
                
            </aside>
        </div>

    </div>

    <footer id="footer">
        © 2020 Copyright: <a href="https://www.facebook.com/Cristian.Niquin"> Cristian Niquin</a>
    </footer>
</body>

</html>